@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    width: 100%;
}

main {   
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* Background image */
    background-image: url('bg1.jpg');
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
}

#tasks-container {
    width: 50%;    
    background-color: palegoldenrod;
    padding: 2%;
    border-radius: 10px;
    /* border: 1px solid rgba( 255, 255, 255, 0.18 ); */
    /* Glass */
    background: rgba( 0, 0, 0, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 9px );
    -webkit-backdrop-filter: blur( 9px );
    /* Shadow */
    -webkit-box-shadow: 3px 3px 32px -1px #1c1c1c;
    -moz-box-shadow: 3px 3px 32px -1px #1c1c1c;
    box-shadow: 3px 3px 32px -1px #1c1c1c;
    transition: .2s height ease-in-out;
}

/* Form */

#tasks-header > h2 {
    color: #ffff;
    font-size: 28px;
    line-height: 1;
    
    margin-bottom: 1%;
    font-weight: lighter;
}

#tasks-header > p {
    padding-top: 1%;
    color: #fff;
}

#add-task-form {
    padding: 2% 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#add-task-form input {
    width: 86%;
    padding: 2%;
    outline: none;
    border: none;
    border-radius: 10px;
    background-color: #e9e9e9;
    color: #000;
    font-size: 16px;
}

#add-btn {
    width: 12%;
    font-size: 28px;
    font-weight: bold;
    border: none;
    color: #0dff00;
    background-color: #fff;
    transition: .4s ease-in;
    padding: 2% 0%;
    border-radius: 20px;
    justify-content: center;
    display: inline-flex;
    align-items: center;
}

ion-icon {
    transition: .2s;
}

#add-btn:hover {
    color: #ffff;
    background-color: #0dff00;
}

#add-btn:hover > ion-icon {
    transform: translateX(5px);
}


#task-list {
    list-style: none;
    padding-left: 0;
}

#task-list > li {
    position: absolute;
    text-align: left;
    height: 50px;
    line-height: 50px;
    position: relative;
    background-color: #e9e9e9;
    color: #000;
    margin-bottom: 10px;
    padding-left: 15px;
    transition: .2s;
    border-radius: 10px;
}

#task-list ion-icon {
    position: absolute;
    top: 0;
    height: 35px;
    transition: .1s;
    cursor: pointer;
    width: 30px;
    padding: 5px;
}

.done-btn {
    right: 40px;
    
}

.done-btn:hover {
  color: rgb(82, 255, 47);

}

.remove-btn {
    right: 0px;
}

.remove-btn:hover {
   color: #da1212;
}

.hide {
    display: none;
}

#task-list li.done {
    background-color: #676767;
    color: #b9b9b9;
    text-decoration: line-through;
    opacity: 80%;
    transform: scale(0.9);
}

#tasks-list-container > h2 {
    color: #fff;
    padding-bottom: 2%;
    display: flex;
    align-items: center;
}

main > .datetime {
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba( 0, 0, 0, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 9px );
    -webkit-backdrop-filter: blur( 9px );
    color: #fff;
    width: 50%;
    padding: 1% 2%;
    margin-bottom: 2.5%;
    border-radius: 10px;
    -webkit-box-shadow: 3px 3px 32px -1px #1c1c1c;
    -moz-box-shadow: 3px 3px 32px -1px #1c1c1c;
    box-shadow: 3px 3px 32px -1px #1c1c1c;
}

.hora {
    display: flex;
    align-items: center;
}

.hora > span {
    font-size: 40px;
}

.datetime > .hora > h2 {
    font-size: 44px;
    color: #FFFFFF;
    line-height: 1;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, sans-serif;
    font-weight: 400;

}

.datetime > p {
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}

@media (max-width: 800px) {

    main {
        background-image: none;
        background: red;
        justify-content: flex-start;
        padding: 5% 0;
        background: radial-gradient(circle, #000000 10%, transparent 11%);
        background-size: 2em 2em;
        background-color: #ffffff;
        opacity: 1
    }

    main > .datetime {
        width: 90%;
        flex-direction: column;
        margin-bottom: 5%;
        padding: 5% 0;
    }

    main > .datetime > p {
        display: none;
    }

    #tasks-container {
        width: 90%;
    }
}